@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #ededed;
}
/* Typography */
h1 {
  font-family: "Monoton", cursive;
  font-size: 2.5rem;
  margin-top: 2rem;
}

footer {
  font-size: 18px;
  margin: 2rem auto;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}
footer p {
  display: inline;
}
/* Layout */
.container {
  max-width: 90%;
  margin: 0.5rem auto;
}
.canvas {
  background-color: #fefefe;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  display: grid;
}

.secondary {
  margin: 2em auto;
}

input[type="color"] {
  -webkit-appearance: circle-button;
  width: 100px;
  height: 100px;
  padding: 0.5rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 50%;
}
button:hover,
input[type="color"]:hover {
  transform: scale(1.05);
}
.colorpick-eyedropper-input-trigger {
  display: block;
  margin: 0 auto;
}
input[type="range"] {
  accent-color: transparent;
}

input {
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-flow: column nowrap;
  width: 150px;
  gap: 16px;
  margin: 0 auto;
}

button {
  text-transform: capitalize;
  font-size: 1rem;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  outline: 1px solid;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
button.active {
  background-color: black;
  color: #ededed;
}
.grid-div {
  margin: 0;
  padding: 0;
  aspect-ratio: 1;
}
.grid-div.lines {
  outline: 1px solid rgb(165, 159, 149);
}
@media screen and (min-width: 600px) {
  h1 {
    font-size: 4rem;
    margin: 0;
  }
  .container {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* margin: 0 auto; */
  }
  .buttons {
    width: 200px;
  }
  .canvas {
    width: 500px;
    height: 500px;
  }
  footer {
    margin: 0;
  }
}
