@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #ededed;
}
/* Typography */
h1 {
  font-family: "Monoton", cursive;
  font-size: 2.4rem;
}

footer {
  margin-top: 2rem;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
}
/* Layout */
/* .container {
  margin: 0.5rem auto;
} */
canvas {
  background-color: #fefefe;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
input[type="color"] {
  -webkit-appearance: circle-button;
  width: 100px;
  height: 100px;
  padding: 0.5rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 50%;
}
button:hover,
input[type="color"]:hover {
  transform: scale(1.05);
}
.colorpick-eyedropper-input-trigger {
  display: block;
  margin: 0 auto;
}
input {
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-flow: column nowrap;
  /* align-items: center; */
  max-width: 150px;
  gap: 16px;
  margin: 0 auto;
}

button {
  text-transform: capitalize;
  font-size: 1rem;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  outline: 1px solid;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  .container {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
  }
  .buttons {
    width: 200px;
  }
  canvas {
    width: 500px;
    height: 500px;
  }
  footer {
    margin: 0;
  }
}
